/* 设置页面整体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 设置背景颜色 */
}

/* 设置页眉样式 */
header {
    background-color: #333; /* 设置页眉背景颜色 */
    color: #fff; /* 设置文字颜色为白色 */
    text-align: center;
    padding: 20px;
}

/* 设置自定义图标样式 */
h1.custom-icon {
    width: 80px;
    height: 80px;
    background-image: url("logo.jpg"); /* 设置Logo图片 */
    background-size: cover;
    background-position: center;
    margin: 0 auto 20px; /* 设置标题图标的外边距 */
}

/* 设置导航栏样式 */
nav {
    background-color: #444; /* 设置导航栏背景颜色 */
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* 设置导航栏链接的颜色为白色 */
    text-decoration: none;
}

/* 设置栏目样式 */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff; /* 设置栏目背景颜色 */
    border: 1px solid #ccc; /* 添加边框 */
}

section h2 {
    color: #333; /* 设置栏目标题颜色为黑色 */
}

/* 设置页脚样式 */
footer {
    background-color: #444; /* 设置页脚背景颜色 */
    color: #fff; /* 设置页脚文字颜色为白色 */
    text-align: center;
    padding: 10px;
}
