body {
    /* 设置背景图片URL */
    background-image: url('airview.jpg'); /* 将图片路径替换为你的背景图片路径 */
    /* 设置背景图片尺寸和位置 */
    background-size: cover;
    background-position: center;
    /* 设置背景图片固定，以确保内容滚动而不是背景 */
    background-attachment: fixed;
    /* 设置背景图片的高度，使其填满整个视口 */
    height: 100vh;
    margin: 0; /* 去除默认的页面边距 */
    padding: 0; /* 去除默认的页面内边距 */
    font-family: Arial, sans-serif; /* 设置字体 */
    background-image: rgba(255, 255, 255, 0.3);
}

header {
    /* 设置背景色和透明度，以使文本内容更加清晰可见 */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px; /* 添加内边距，增加内容与背景之间的间距 */
}

/* 设置自定义图片作为标题图标 */
h1.custom-icon {
    display: inline-block;
    width: 32px; /* 设置图标的宽度 */
    height: 32px; /* 设置图标的高度 */
    background-image: url('logo.jpg'); /* 将图片路径替换为你的图标图片路径 */
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin-right: 10px; /* 调整图标和标题之间的间距 */
}

/* 设置导航链接样式 */
nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

/* 设置段落样式 */
p {
    line-height: 1.6;
}

/* 设置列表样式 */
ul {
    list-style-type: none;
    padding: 0;
}

/* 设置列表项样式 */
li {
    margin-bottom: 10px;
}

/* 设置h1和h2的样式 */
h1, h2 {
    margin: 0;
    padding: 0;
}

/* 设置页脚文本样式 */
footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}
